/* NATASHA font */
@font-face {
    font-family: "Natasha";
    src: local("Natasha"), url("../fonts/Natasha.woff2") format("woff2"), url("../fonts/Natasha.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* // NATASHA font */

/* MUSEO SANS font*/
/*weight 100*/
@font-face {
    font-family: "Museo Sans";
    src: local("Museo Sans"), url("../fonts/MuseoSansCyrl-100.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-100.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Museo Sans";
    src: local("Museo Sans"), url("../fonts/MuseoSansCyrl-100Italic.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-100Italic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
/* // weight 100*/
/*---------------*/
/*weight 300*/
@font-face {
    font-family: "Museo Sans";
    src: local("Museo Sans"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Museo Sans";
    src: local("Museo Sans"), url("../fonts/MuseoSansCyrl-300Italic.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300Italic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
/* // weight 300*/
/*---------------*/
/*weight 900*/
@font-face {
    font-family: "Museo Sans";
    src: local("Museo Sans"), url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Museo Sans";
    src: local("Museo Sans"), url("../fonts/MuseoSansCyrl-900Italic.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900Italic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
/* // weight 900*/
/* // MUSEO SANS font*/
