/*базовые переменные*/
:root {
    --main-font: "Museo Sans", sans-serif;
    --title-font: "Natasha", sans-serif;

    --main-text-color: #22241b;
    --accent-text-color: #204d15;
    --light-text-color: #fff;
    --block-title-text-color: rgba(34, 36, 27, 0.66);
    --skills-points-text-color: rgba(34, 36, 27, 0.89);
    --footer-text-color: rgba(34, 36, 27, 0.66);

    --hover-effect: all .5s ease;
}

/* // базовые переменные*/

/*    === общие настройки ===    */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 15px;
    color: var(--main-text-color);
}

.container {
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

/*настройки заголовков*/
h2, h3 {
    font-family: var(--title-font);
    text-transform: uppercase;
}

h2 {
    font-size: 37px;
    color: var(--main-text-color);
    line-height: 1;
}

h3 {
    font-size: 22px;
    color: var(--main-text-color);
    opacity: 0.659;
}

/* // настройки заголовков*/

/* //    === общие настройки ===    */

/*  === <!--секция первого экрана--> ===    */
.header {
    padding: 56px 0 82px 0;
    background: url("../img/main-bg.png") center center no-repeat var(--main-text-color);
    background-size: cover;
    color: var(--light-text-color);
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.header a {
    color: var(--light-text-color);
}

/*<!--шапка сайта-->*/
.header__navigation {
    justify-content: space-between;
    margin-bottom: 291px;
}

/*<!--логотип-->*/
.logo {
    font-size: 17px;
}

.logo span {
    font-weight: 100;
}

/*<!--навигационное меню-->*/
.menu__list {
    column-gap: 48px;
}

/*<!--способ связи /почта-->*/
.header__contact {
    text-transform: lowercase;
    font-size: 13px;
    font-weight: 300;
    margin-top: 4px;

}

.header__mail-link::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 4px;
    background-color: rgba(255, 255, 255, 0.35);
    transition: var(--hover-effect);
}

.header__contact:hover .header__mail-link::after {
    background-color: rgba(255, 255, 255, 0.75);
}

/* // <!--шапка сайта-->*/

/*<!--контент первого экрана-->*/
.header__main-content {
    max-width: 716px;
    margin: 0 auto 265px auto;
}

h1.header__title {
    font-size: 29px;
    font-weight: 100;
    line-height: 1.122;
    letter-spacing: 0.04em;
}

h1.header__title span {
    font-family: var(--title-font);
    font-size: 49px;
    letter-spacing: 0.045em;
}

/* // <!--контент первого экрана-->*/
/* //  === <!--секция первого экрана--> ===    */

/*  === <!--секция "обо мне"--> ===     */
.about {
    padding: 86px 0 48px 0;
}

h2.about__title {
    margin-bottom: 77px;
}

.about__wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/*<!--блок "бэкграунд"-->*/
.about__text-content {
    max-width: 435px;
}

.block__title_text-content {
    margin-bottom: 46px;
}

.about__description {
    line-height: 1.8;
    text-align: justify;
}

p.about__text + p.about__text {
    margin-top: 38px;
}

/* // <!--блок "бэкграунд"-->*/

/*<!--блок достижений / преимуществ-->*/
.about__advantages {
    margin-bottom: 68px;
}

.block__title_advantages {
    margin-bottom: 48px;
}

/*список достижений*/
.advantages__list {
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 54px;
}

.advantages__item {
    width: 112px;
    text-align: center;
    font-weight: 100;
}

.advantages__digit {
    width: 103px;
    height: 103px;
    background: url("../img/icons/rhomb_bg.png") center center no-repeat;
    background-size: contain;
    margin: 0 auto 26px auto;
    color: var(--accent-text-color);
    font-size: 20px;
    line-height: 103px;
    text-align: center;
    text-transform: uppercase;
}

.advantages__desc {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
}

/* // список достижений*/
/* // <!--блок достижений / преимуществ-->*/

/* <!--блок контактов-->*/
.block__title_contacts {
    margin-bottom: 40px;
}

.contacts__wrapper {
    justify-content: space-between;
    column-gap: 30px;
}

/*список ссылок на соцсети*/
li.contacts__item + li.contacts__item {
    margin-top: 15px;
}

a.contacts__link {
    font-size: 14px;
    letter-spacing: 0.05em;
    color: var(--accent-text-color);
}

a.contacts__link::after {
    content: "";
    display: block;
    height: 1px;
    width: 20%;
    background-color: var(--accent-text-color);
    opacity: 0.29;
    margin-top: 2px;
    transition: var(--hover-effect);
}

.contacts__item:hover a.contacts__link::after {
    width: 40%;
}

/* // список ссылок на соцсети*/

/*<!--ободряющая подпись-->*/
.contacts__cta {
    column-gap: 20px;
}

.contasts__image {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #eef1ed;
}

.contasts__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacts__desc {
    font-size: 14px;
    color: var(--main-text-color);
    opacity: 0.722;
    font-style: italic;
}

/* // <!--ободряющая подпись-->*/
/* //  <!--блок контактов-->*/
/* //   === <!--секция "обо мне"--> ===     */

/*   === <!--секция "навыки"--> ===     */
.skills {
    padding: 48px 0 42px 0;
}

h2.skills__title {
    margin-bottom: 63px;
}

ul.skills__list {
    justify-content: space-between;
    column-gap: 20px;
}

li.skills__item {
    column-gap: 27px;
}

.skills__digit {
    position: relative;
    font-size: 13px;
    color: var(--accent-text-color);
    text-transform: uppercase;
    text-align: center;

    width: 61px;
    height: 61px;
    line-height: 61px;
    background: url("../img/icons/circle_bg.png");
}

.skills__name {
    font-weight: 900;
    color: var(--skills-points-text-color);
    text-transform: uppercase;
}

/* //   === <!--секция "навыки"--> ===     */

/*   === <!--секция "работы"--> ===     */
.portfolio {
    padding: 43px 0 62px 0;
}
.portfolio__title {
    margin-bottom: 60px;
}

.portfolio__list {
    justify-content: space-between;
    column-gap: 15px;
}

.portfolio__item {
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}
.portfolio__image {
    transition: var(--hover-effect);
}

.portfolio__item:hover .portfolio__image{
    transform: scale(1.1);
}

.portfolio__overlay {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.56);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 10;
}
.portfolio__item:hover .portfolio__overlay{
    display: block;
}

.portfolio__name {
    font-weight: 900;
    color: var(--light-text-color);
    text-transform: uppercase;
    margin-bottom: 14px;
}

.portfolio__link {
    font-size: 13px;
    color: var(--light-text-color);
    text-align: center;
}

.portfolio__link::after {
    margin: 2px auto 0 auto;
    content: "";
    display: block;
    height: 0.5px;
    width: 40%;
    background-color: var(--light-text-color);
}
.portfolio__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* //   === <!--секция "работы"--> ===     */

/*  ===<!--подвал сайта / футер-->===   */
.footer {
    padding: 61px 0 80px 0;
    font-size: 11px;
    color: var(--footer-text-color);
    text-transform: uppercase;
}

/* //  ===<!--подвал сайта / футер-->===   */

